[idle_timeout]
gcode:
  {% if printer.webhooks.state|lower == 'ready' %}
    {% if printer.pause_resume.is_paused|lower == 'false' %}
      {action_respond_info("POWER: Execute Idle Timeout")}
      TURN_OFF_HEATERS
      _M81
      UPDATE_DELAYED_GCODE ID=shutdown_machine DURATION=1 
    {% endif %}
  {% endif %}
# 1h timeout
timeout: 4800

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]
recover_velocity: 300.0

[gcode_arcs]
resolution: 0.1

[respond]
default_type: command

[firmware_retraction]
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated
retract_length: 0.28
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_extra_length: 0
retract_speed: 40
unretract_speed: 40

[exclude_object]